<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMoxmARsZqU91o-cpFIIqsX5RrnceEJ6o</string>
	<key>GCM_SENDER_ID</key>
	<string>71563961465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scratchwork.mvpknowledge</string>
	<key>PROJECT_ID</key>
	<string>mvp-project-f9929</string>
	<key>STORAGE_BUCKET</key>
	<string>mvp-project-f9929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71563961465:ios:72485971c140e9dfdde0a8</string>
</dict>
</plist>